.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    min-height: 256px;
    padding: 0 70px;
    background-color: black;
}

.credits-line {
    width: 400px;
}
.credits-p {
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}

.credits-a {
    font-style: normal;
    color: #5379ff;
    margin-left: 79px;
    width: 200px;
    float: right;
    text-decoration: none;
}

.slogan-p {
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}
.footer-link {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .footer {
        min-height: 70px !important;
        height: 70px;
        position: sticky !important;
        bottom: 0 !important;
        background-color: black;
        width: 100%;
        display: flex !important;
        align-items: center;
        margin: auto;
        justify-content: center;
        color: white;
        padding: 0;
    }
    .footer-link {
        display: block !important;
    }
    .nav-link-footer a {
        color: #fee440;
        font-size: 16px;
        font-weight: 600;
    }
    .arrow {
        width: 30px;
        margin-left: 10px;
    }

    .credits,
    .slogan {
        display: none !important;
    }
}
