#navbar {
    color: white;
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
nav {
    z-index: 50 !important;
}

.logo-image {
    margin-right: auto;
    margin-left: 70px;
    width: 70px;
    z-index: 10000;
}

.nav-link {
    margin-left: auto;
    margin-right: 70px;
    display: flex;
    padding: 0 !important;
}
@media screen and (max-width: 768px) {
    .nav-link {
        display: none !important;
    }
    .logo-image {
        margin-left: 0 !important;
    }
    .navbar {
        padding: 0 25px !important;
    }
}
.nav-link a {
    color: white !important;
    text-decoration: none !important;
    font-size: 20px;
    font-weight: 600;
    margin-right: 18px;
    font-style: italic;
    letter-spacing: 1px;
}

.arrow {
    margin: auto;
}
.credits {
}

.nav-dropdown {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 1;
}

@media screen and (max-width: 768px) {
    .nav-dropdown {
        padding: 100px 5px !important;
        text-align: center;
    }
    #navbar {
        height: 70px !important;
    }
}

.credits-p {
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}

.credits-a {
    font-style: normal;
    color: #5379ff;
    margin-left: 79px;
    width: 200px;
    float: right;
    text-decoration: none;
}

.slogan-p {
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}
