.credits-line-rightnav {
    /* width: 300px; */
}
.credits-p-rightnav {
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}

.credits-a-rightnav {
    font-style: normal;
    color: #5379ff;
    margin-left: 79px;
    width: 200px;
    float: right;
    text-decoration: none;
}

.slogan-p-rightnav {
    font-size: 25px;
    font-weight: 500;
    font-style: italic;
    text-align: right;
}

@media screen and (max-width: 768px) {
    .credits-p-rightnav {
        max-width: 400px;
        justify-content: flex-start;
        text-align: left;
        margin: auto;
    }
    .credits-a-rightnav {
        margin-left: 50px;
        text-align: right;
        width: 160px;
    }
    .slogan-p-rightnav {
        margin-bottom: 180px !important;
        text-align: center;
    }
}
