.card-container {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 200px;
}

.message {
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 24px;
    max-width: 700px;
    margin: 0;
    padding-top: 5px;
}
.timer {
    font-weight: 800;
    font-size: 45px;
    min-width: 500px;
    font-style: italic;
}
.picture {
    /* margin-right: 70px; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 550px;
    margin-right: 70px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.containerr {
    padding-left: 70px;
}

.muscle-man {
    max-width: 85px;
    margin: 2px;
}

.muscle-men-6 {
    max-width: 273px !important;
}
.muscle-men-card-6 {
    height: 250px;
}

.muscle-men-card-12 {
    height: 280px;
}
.after-text {
    font-weight: 800;
    font-size: 35px;
    font-style: italic;
}

.font-size-35 {
    font-size: 35px;
}

@media screen and (max-width: 376px) {
    .timer {
        font-size: 21px !important;
    }
}

.mobileImage2 {
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .card-container {
        min-height: 414px;
        flex-direction: column;
        text-align: center !important;
        padding: 5px;
        /* justify-content: space-around !important; */
    }
    .after-text {
        font-size: 22px;
    }
    .containerr {
        padding-left: 0;
    }
    .message {
        font-size: 1.1rem;
        min-width: 0px;
    }
    .timer {
        font-size: 22px;
        min-width: 0px;
    }
    .timer-container {
        flex: 0;
        margin: auto !important;
    }
    .picture {
        margin: 0 !important;
        flex: 0;
        justify-content: center;
        margin: auto !important;
    }
    .muscle-man {
        width: 80px;
    }

    .muscle-men-card-6 {
        height: 414px !important;
    }
    .muscle-men-card-12 {
        padding-bottom: 40px;
        height: 434px !important;
    }
}
