.card-container {
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 140px;
}

.message {
    font-weight: 300;
    font-size: 24px;
    min-width: 500px;
}
.timer {
    font-weight: 700;
    font-size: 30px;
    min-width: 500px;
}

.timer-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    flex: 1;
}

.containerr {
    padding-left: 70px;
}

.picture {
    /* margin-right: 70px; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
}
